@import "fonts"
@import "vars"
@import "mixins/mixins"
@import "mixins/mixin"

.item-wrap
  position: relative
  overflow: hidden
  img
    width: 100%
    transition: .3s all ease-in-out
.overlay
  background-color: rgba(83, 171, 243, 0.7)
  text-align: center
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  color: #fff
  opacity: 0
  -webkit-transition: all 450ms ease-out 0s
  transition: all 450ms ease-out 0s
  -webkit-transform: rotateX(180deg) scale(0.5, 0.5)
  .box
    display: table
    height: 100%
    width: 100%
    .content
      display: table-cell
      text-align: center
      vertical-align: middle

.effort-des
  display: block
  font-size: 18px
  font-weight: 700
  i
    font-size: 35px

.item-wrap:hover
  img
    transform: scale(1.2)
  .overlay
    opacity: 1
    -webkit-transform: rotateX(0deg) scale(1, 1)
    transform: rotateX(0deg) scale(1, 1)

div#preloader
  position: fixed
  left: 0
  top: 0
  z-index: 999
  width: 100%
  height: 100%
  overflow: visible
  background: #ffffff url('../img/heart.gif') no-repeat center center

header
	width: 100%
	position: relative
	z-index: 0
	.top
		color: $white $main-color
		.hamburger 
			@include padding(20px, top)
			@include padding(18px, bottom)
		.Logo
			height: 71px
			display: block
			line-height: 71px
			text-transform: uppercase
			font-size: 15px
			font-family: RobotoBold
			@include margin(80px, right)
			@include margin(13px, left)
			.fa
				font-size: 40px
				float: left
				line-height: 71px
				@include margin(13px, right)
	.top-line
		color: $white $main-color
		height: 71px
		width: 100%
		
		.Logo
			height: 71px
			display: block
			line-height: 71px
			text-transform: uppercase
			font-size: 15px
			font-family: RobotoBold
			@include margin(13px, left)
			.fa
				font-size: 40px
				line-height: 71px
				@include margin(13px, right)
		.center
			size: 580px 71px

			.my-menu
				height: 71px
				width: 475px
				li
					position: relative
					text-align: center
					@include margin(35px, right)
					&:last-child
						@include margin(0, right)
					&:after
						display: block
						left: 0
						content: ''
						width: 0
						background-color: $accent
						height: 4px
						position: absolute
						bottom: 1px
						@include transition(all, 0.2s, ease)
						@include hardware
					&:hover:after
						width: 100%
				a
					color: $white
					font-size: 12px
					@include padding(29px, top-bottom)
					@include padding(0, right-left)
					text-transform: uppercase
					font-family: RobotoBold
					text-decoration: none
					@include transition(color, 0.2s, ease)
					@include hardware
					&:hover
						color: $accent

				li.active
					position: relative
					&:after
						display: block
						left: 0
						content: ''
						width: 100%
						background-color: $accent
						height: 4px
						position: absolute
						bottom: 1px
						@include transition(all, 0.2s, ease)
						@include hardware
				.list-inline
					height: 71px
					line-height: 71px
					@include margin(0, bottom)